.search_result{
    background: gainsboro;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
}


.search_result li {

    list-style: none;

}


.jumbotron {
    background-color: #F7F4EA;
    color: #AE4F2F;
    /*font-size: 21px;*/
    /*font-weight: 200;*/
    /*line-height: 2.14286;*/
    /*margin-bottom: 30px;*/
    /*padding: 30px;*/
}

.btn-primary {
    background-color: #AE4F2F;
}